@import "reset";

$topbar-height: 40px;
$control-width: 200px;

*,*::before,*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Manrope', sans-serif;
	color: #333;
	background: #ddd;
	font-size: 14px;
	// font-weight: 300;
}

a {
	color: #48b;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.header {
	height: $topbar-height;
	position: absolute;
	top: 0;
	left: 0;
	li {
		display: inline;
	}
	li:not(:last-child) {
		&::after {
			content: " •";
			margin: 0 .5rem;
			color: #888;
		}
	}
	h1 {
		display: inline;
		font-size: 2rem;
		font-weight: 900;
		margin: 0;
		line-height: $topbar-height;
		padding-left: 1rem;
	}
}

.display {
	width: 100%;
    text-align: center;
    bottom: 0;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin row($gutter: 1rem) {
	margin: 0 (0-($gutter / 2));
	@include clearfix;
}

@mixin col($width: 100%, $gutter: 1rem) {
	float: left;
	padding: 0 ($gutter / 2);
	width: $width;
}

.row {
	@include row;
}

._50 {
	@include col(50%);
}

.wrap {
	position: relative;
	display: inline-block;
	height: calc(100vh - #{$topbar-height});
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.canvas1 {
	max-width: 95%;
	max-height: calc(100% - 6rem);
	box-shadow: 0 2px 20px rgba(#000, .1);
}
.canvas2 {
	display: none;
}

button,
.button {
	display: inline-block;
	text-decoration: none;
	background: linear-gradient(to bottom right,#D84155,#882963);
	padding: 0.6rem;
	color: #fff;
	border-radius: 2px;
	width: 100%;
	&:hover {
		background: linear-gradient(to bottom right,lighten(#D84155, 10%),lighten(#882963, 10%));
	}
	&[disabled] {
		cursor: not-allowed;
	}
}

.section {
	padding: 1rem;
}

input[type=text],
input[type=number],
input[type=range],
select {
	display: block;
	width: 100%;
}

input[type=text],
input[type=number],
select {
	height: 2rem;
	line-height: 2rem;
	padding: 0 .5rem;
	background: #fff;
	border: none;
	margin-bottom: .75rem;
}

.controls {
	position: fixed;
	color: #444;
	top: 0;
	right: 0;
	bottom: 0;
	transform: translateX(38%);
	width: $control-width;
	background: #f8f8f8;
	padding: 0;
	box-shadow:  0 5px 20px rgba(0,0,0,0.1);
	overflow-y: auto;
	overflow-x: hidden;
	opacity: .2;
	transition: 450ms ease;
	&:hover {
		opacity: 1;
		transform: none;
	}
	h3 {
		padding: .5rem 1rem;
		margin: 0;
	}
}

.fieldgroup {
	padding: 1rem;
}

label {
	color: #222;
	display: block;
	margin: .5em 0;
	font-weight: 500;
}

.footer {
	position: absolute;
	color: #888;
	bottom: 1rem;
	width: 100%;
	font-size: .9em;
	text-align: center;
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.spinner {
	$size: 40px;
	border-radius: 50%;
	height: $size;
	width: $size;
	border: 4px solid transparent;
	border-left-color: #fff;
	animation: spinner 450ms linear infinite;
}

$loader-size: 30px;

@keyframes spinner {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}