@charset "UTF-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  color: #333; }

body {
  padding: 0;
  margin: 0; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

button {
  outline: none;
  cursor: pointer;
  border: none; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Manrope', sans-serif;
  color: #333;
  background: #ddd;
  font-size: 14px; }

a {
  color: #48b;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.header {
  height: 40px;
  position: absolute;
  top: 0;
  left: 0; }
  .header li {
    display: inline; }
  .header li:not(:last-child)::after {
    content: " \2022";
    margin: 0 .5rem;
    color: #888; }
  .header h1 {
    display: inline;
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
    line-height: 40px;
    padding-left: 1rem; }

.display {
  width: 100%;
  text-align: center;
  bottom: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row {
  margin: 0 -0.5rem; }
  .row:before, .row:after {
    content: '';
    display: table; }
  .row:after {
    clear: both; }

._50 {
  float: left;
  padding: 0 0.5rem;
  width: 50%; }

.wrap {
  position: relative;
  display: inline-block;
  height: calc(100vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.canvas1 {
  max-width: 95%;
  max-height: calc(100% - 6rem);
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); }

.canvas2 {
  display: none; }

button,
.button {
  display: inline-block;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#D84155), to(#882963));
  background: -webkit-linear-gradient(top left, #D84155, #882963);
  background: -o-linear-gradient(top left, #D84155, #882963);
  background: linear-gradient(to bottom right, #D84155, #882963);
  padding: 0.6rem;
  color: #fff;
  border-radius: 2px;
  width: 100%; }
  button:hover,
  .button:hover {
    background: -webkit-gradient(linear, left top, right bottom, from(#e16b7b), to(#af3580));
    background: -webkit-linear-gradient(top left, #e16b7b, #af3580);
    background: -o-linear-gradient(top left, #e16b7b, #af3580);
    background: linear-gradient(to bottom right, #e16b7b, #af3580); }
  button[disabled],
  .button[disabled] {
    cursor: not-allowed; }

.section {
  padding: 1rem; }

input[type=text],
input[type=number],
input[type=range],
select {
  display: block;
  width: 100%; }

input[type=text],
input[type=number],
select {
  height: 2rem;
  line-height: 2rem;
  padding: 0 .5rem;
  background: #fff;
  border: none;
  margin-bottom: .75rem; }

.controls {
  position: fixed;
  color: #444;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(38%);
      -ms-transform: translateX(38%);
          transform: translateX(38%);
  width: 200px;
  background: #f8f8f8;
  padding: 0;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: .2;
  -webkit-transition: 450ms ease;
  -o-transition: 450ms ease;
  transition: 450ms ease; }
  .controls:hover {
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .controls h3 {
    padding: .5rem 1rem;
    margin: 0; }

.fieldgroup {
  padding: 1rem; }

label {
  color: #222;
  display: block;
  margin: .5em 0;
  font-weight: 500; }

.footer {
  position: absolute;
  color: #888;
  bottom: 1rem;
  width: 100%;
  font-size: .9em;
  text-align: center; }

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.spinner {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 4px solid transparent;
  border-left-color: #fff;
  -webkit-animation: spinner 450ms linear infinite;
          animation: spinner 450ms linear infinite; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }


/*# sourceMappingURL=main.css.map*/