@import "reset";

$topbar-height: 40px;
$control-width: 200px;

*,*::before,*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Lato', sans-serif;
	color: #333;
	background: #ddd;
	font-size: 14px;
}

a {
	color: #48b;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.topbar {
	height: $topbar-height;
	background: #555;
	color: #f8f8f8;
	li {
		display: inline;
	}
	li:not(:last-child) {
		&::after {
			content: "•";
			margin: 0 .5rem;
			color: #ccc;
		}
	}
	h1 {
		display: inline;
		font-size: 1rem;
		font-weight: 900;
		margin: 0;
		line-height: $topbar-height;
		padding-left: 1rem;
	}
}

.display {
	width: calc(100% - #{$control-width});
    text-align: center;
    bottom: 0;
	position: fixed;
	left: 0;
	top: $topbar-height;
	bottom: 0;
}

.wrap {
	position: relative;
	display: inline-block;
	height: calc(100vh - #{$topbar-height});
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.canvas1 {
	max-width: 95%;
	max-height: 95%;
	box-shadow: 0 2px 10px rgba(#000, .1);
}
.canvas2 {
	display: none;
}

button,
.button {
	display: inline-block;
	text-decoration: none;
	background: linear-gradient(to bottom right,#D84155,#882963);
	padding: 0.6rem;
	color: #fff;
	border-radius: 2px;
	&:hover {
		background: linear-gradient(to bottom right,lighten(#D84155, 10%),lighten(#882963, 10%));
	}
}

input[type=text],
input[type=number],
input[type=range],
select {
	display: block;
	width: 100%;
}

input[type=text],
input[type=number],
select {
	height: 2rem;
	line-height: 2rem;
	padding: 0 .5rem;
	background: #fff;
	border: none;
	margin-bottom: .75rem;
}

.controls {
	position: fixed;
	color: #fff;
	top: $topbar-height;
	right: 0;
	bottom: 0;
	width: $control-width;
	background: rgba(#000,.8);
	padding: 0 1rem;
	box-shadow:  0 5px 20px rgba(0,0,0,0.1);
	overflow-y: auto;
	overflow-x: hidden;
}

label {
	color: #ddd;
	display: block;
}

.loader {
	position: absolute;
	top: 50%;
}

$loader-size: 30px;

@mixin animate ($a,$time:1200ms) {
	animation: $a $time ease-out infinite;
}

.loader {
	position: absolute;
	filter: url("#goo");
	top: calc(50% - #{$loader-size/2});
	left: calc(50% - #{$loader-size*1.5});
	height: $loader-size;
	width: $loader-size*3;
}
.circle {
	width: $loader-size;
	height: $loader-size;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: $loader-size;
	$time: 1500ms;
	&:first-child {@include animate(a1);}
	&:last-child {@include animate(a2);}
	&:nth-child(2) {@include animate(a3);}
	&:nth-child(3) {@include animate(a4);}
}

@mixin anim ($a:1,$b:.5) {
	0% {transform:translateX(0);
	}
	6% {transform:translateX($a*$loader-size/8) scale(0.75);
	}
	24%,30% {transform: translateX($a*$loader-size/2) scale(0.65);
	}
	36% {transform:translateX($a*$loader-size/2+$b*$loader-size/4) scale(0.5);
	}
	60%,70% {transform: translateX($a*$loader-size/2+$b*$loader-size) scale(0.4);
	}
	85% {transform: translateX($a*$loader-size/8) scale(0.9);}
	90% {transform: translateX(0);}
}
@keyframes a1 {@include anim(-1,0);}
@keyframes a2 {@include anim(-1,-1);}
@keyframes a3 {@include anim(1,1);}
@keyframes a4 {@include anim(1,0);}